@import url('https://fonts.googleapis.com/css?family=Roboto');
.gameview {
  width: 100%;
  background: #f7f7f7;
  padding: 20px;
  color: black;
  font-family: 'Roboto', sans-serif;
  border-radius: 25px;
}

.game-event {
  min-height: 50vh;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.game-message, .social-post, .web-title, .web-post, .badge {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  width: 100%;
}

.social-post {
  background: #d9eef5; 
  color: black;
}

.social-post-img {
  width: 60px;
}

.social-post-username {
  font-size: medium;
  padding: 10px;
  font-weight: bold;
}

.web-title {
  background: #fed5d5;
}

.web-title-claim {
  font-style: italic;
}

.web-post {
  background: #fed5d5;
}

.web-title-name, .web-post-webname {
  font-weight: bold;
  text-align: center;
}

.web-post-text {
  font-style: italic;
}

.badge {
  background: #cdcded;
}

.badge-text {

}

.choice-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.choice-button {
  background-color: #f7f7f7;
  color: #1440dc;
  text-align: center;
  border: none;
  font-size: medium;
  margin: auto;
}

.choice-button-3 {
  background-color: #f7f7f7;
  color: #1440dc;
  text-align: center;
  border: none;
  font-size: smaller;
  margin: auto;
}

.meters {
  display: flex;
  justify-content: space-between;
}

.score-meter, .trust-meter {
  text-align: center;
}

.score-number, .trust-number {
  font-weight: bold;
  font-size: large;
}

.score-text, .trust-text {
  font-size: small;
}

@media only screen and (min-width: 768px) {
  .game-event {
    min-height: 365px;
    font-size: 2rem;
  }

  .game-message, .social-post, .web-title, .web-post, .badge {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .score-number, .trust-number {
    font-size: 2rem;
  }

  .score-text, .trust-text {
    font-size: medium;
  }

  .gameview {
    font-size: 2rem;
  }

  .choice-button, .choice-button3 {
    padding: 10px 20px;
    font-size: 1.5rem;
  }

  .web-title-name {
    font-size: 2.5rem;
  }
}