.gameview {
  width: 100%;
  background: black;
  padding: 20px;
  color: white;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.game-image {

}

.game-image-text {

}

.game-image-img {
  width: 100%;
}

.game-message, .social-post {
  padding-top: 20px;
  padding-bottom: 20px;
}

.social-post {
  background: lightblue; 
  color: black;
}

.social-post-img {
  width: 60px;
}

.social-post-username {
  font-size: small;
}

.web-title {
  background: red;
}

.web-title-name {
  font-variant: small-caps;
  font-size: x-large;
  font-weight: bold;
}

.web-title-claim {
  font-style: italic;
}

.web-post {
  background: red;
}

.web-post-webname {
  font-weight: bold;
}

.web-post-text {
  font-style: italic;
}

.badge {
  background: blue;
}

.badge-text {

}

.badge-bdg {

}

.choice-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.choice-button {
  background-color: #555555;
  text-align: center;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 2rem;
  padding: 15px 32px;
  margin: auto;
  margin-top: 10px;
}

.meters {
  display: flex;
  justify-content: space-between;
}

.score-meter, .trust-meter {
  color: white;
  text-align: center;
  font-size: initial;
}

.score-number, .trust-number {
  font-weight: bold;
  font-size: 2rem;
}